{% extends 'base.html' %}
{% block content %}
<style>
    .bg-custom {
        background-color: #F5EDEB; /
    }
</style>
<main class="bg-custom py-5">
    <div class="container text-center" >
        <div class="row justify-content-center mb-5">
            <div class="col-lg-8">
                <img src="../static/img/futi.png" alt="Logo Futi" class="figure-img img-fluid rounded" style="width: 100vw;">
                <div class="card rounded-4 p-4">
                    <div class="d-flex flex-column align-items-center">
                        <img src="../static/img/local_futi.png" alt="Logo Futi" class="figure-img img-fluid rounded" style="max-width: 300px;">
                        <h2 class="mb-3">EMPIEZA A NAVEGAR YA</h2>
                        <h3>¿Quiénes somos?</h3>
                        <p>
                            Futi abrió sus puertas por primera vez el 29 de mayo del 2024 en Guayaquil. En Futi nos especializamos en ofrecer una variedad de productos esenciales para el consumo diario. Además, disponemos de una selección de artículos de alta calidad a los precios más competitivos del mercado.
                        </p>
                        <div class="mb-4">
                            <a class="btn btn-primary me-2 mb-2" href="/signin/"><i class="bi bi-box-arrow-in-right"></i> Ingresar</a>
                            <a class="btn btn-primary mb-2" href="/signup/"><i class="bi bi-person-check"></i> Registrarse</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-lg-6 mb-3">
                <div class="card rounded-4">
                    <div class="card-body">
                        <h3 class="card-title">COMPRAMOS</h3>
                        <p class="card-text">
                            A proveedores de confianza, adquiriendo grandes volúmenes de cada artículo a costos muy reducidos.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="card rounded-4">
                    <div class="card-body">
                        <h3 class="card-title">AHORRAMOS</h3>
                        <p class="card-text">
                            Evitamos cualquier gasto innecesario que pueda aumentar el precio de venta. Nuestras tiendas son sencillas y centradas en los productos más necesarios para el día a día.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-3">
                <div class="card rounded-4">
                    <div class="card-body">
                        <h3 class="card-title">GARANTIZAMOS</h3>
                        <p class="card-text">
                            La máxima calidad, verificada regularmente a través de laboratorios independientes.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="card rounded-4">
                    <div class="card-body">
                        <h3 class="card-title">ENTREGAMOS</h3>
                        <p class="card-text">
                            Productos de excelente calidad con las mejores fechas de vencimiento.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-3">
                <div class="card rounded-4">
                    <div class="card-body">
                        <h3 class="card-title">VENDEMOS</h3>
                        <p class="card-text">
                            Calidad comparable siempre al precio más bajo del mercado.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="card rounded-4">
                    <div class="card-body">
                        <h3 class="card-title">NUESTRO OBJETIVO</h3>
                        <p class="card-text">
                            Nuestro objetivo no es cuánto podemos ganar por un artículo, sino cuánto podemos ahorrar para nuestros clientes.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-3">
                <div class="card rounded-4">
                    <div class="card-body">
                        <h3 class="card-title">ESTAMOS ORGULLOSOS</h3>
                        <p class="card-text">
                            De nuestro personal amable y eficiente.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="card rounded-4">
                    <div class="card-body">
                        <h3 class="card-title">GARANTÍA</h3>
                        <p class="card-text">
                            Ofrecemos a nuestros clientes una política de devolución sin condiciones para productos que no cumplan con sus expectativas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
